.sidebar {
    flex: 1;
    border-right: solid 0.5px rgb(211, 211, 211);
    min-height: 100vh;
    background-color: #f6f3ff;
}

.top {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 0.5px rgb(211, 211, 211);
    background-color: white;
}

.logo {
    width: 140px;
}

.center {
    padding-left: 20px;
}

.center ul {
    list-style: none;
}

.title {
    font-size: 10px;
    font-weight: bold;
    color: #024128;
    margin-top: 15px;
    margin-bottom: 5px;
}

li {
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}
li:hover {
    background-color: #e3dff0;
}

.icon {
    font-size: 18px;
    color: #3e6b59;
}

span {
    font-size: 13px;
    font-weight: 600;
    color: #024128;
    margin-left: 10px;
}
